:root {
    --white: #F5F5F5;
    --light-blue: #6F7FA6;
    --dark-blue: #242C52;
    --light-yellow: #E2912F;
    --gold: #B26720;
    --light-pink: #D65F6B;
    --dark-pink: #AA3A45;
    --black: #1B1B1b;
}

body {
    background-color: var(--light-blue) !important;
    color: var(--white) !important;
    font-family: "Atma", serif !important;
    font-weight: 300;
    font-size: 1.85rem !important;
    overflow-x: hidden;
}

.title {
    font-size: 3.5rem;
}

.header {
    background-color: var(--light-pink);
}

nav {
    width: 102vw;
    margin-left: -1vw;
    @media only screen and (max-width: 768px) {
        margin-left: 0;
    }
    button {
        color: var(--dark-blue);
        background-color: var(--light-pink);
        border: none;
        &:hover {
            color: var(--white);
            background-color: var(--dark-pink);
            transition: 0.35s;
        }
    }
}

.btn {
    background-color: var(--light-yellow) !important;
    margin-bottom: 20px;
    font-size: 1.25rem !important;
}

@media (hover: hover) {
    .btn:hover:not(:disabled) {
        /* Prevent buttons from having the sticky effect on mobile */
        background-color: var(--gold) !important;
        color: var(--white) !important;
    }
    .requires-touch {
        display: none;
    }
}

@media (hover: none) {
    .requires-mouse {
        display: none;
    }
}

hr {
    border: 1px solid var(--dark-blue) !important;
}

.hidden {
    display: none !important;
}

h1 > a { 
    color: inherit !important;
    text-decoration: inherit !important;
}

body.is-mobile .no-mobile,
body:not(.is-mobile) .mobile-only,
body:not(.logged-in) .requires-login,
body:not(.is-admin) .requires-admin,
body.logged-in .requires-logged-out,
body:not(.explicitly-logged-out) .requires-logged-out-explicit {
    display: none;
}

@media only screen and (orientation: landscape) {
    .portrait-only {
        display: none;
    }
}

@media only screen and (orientation: portrait) {
    .landscape-only {
        display: none;
    }
}

div#hamburger-menu {
    position: absolute;
    left: 20px;
    top: 14px;
    font-size: 0.8em;
    .dropdown-item {
        font-size: 1.75em;
        font-family: sans-serif;
    }
}

nav button.nav-button {
    width: 12.2vw;
}

body.is-admin nav button.nav-button {
    width: 9.7vw;
}
