div#quoteCanvas {
    height: 110vw !important;
    width: 110vw !important;
    background: #0000 !important;
    position: absolute;
    margin-left: -5vw;
}

div#quoteCanvas span {
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    text-shadow: #8998be 0px 0px 3px;
}

body.is-mobile div#quoteCanvas {
    display: none;
}

div#quoteCanvas span:hover {
    text-shadow: #FC0 1px 0 10px;
}

body {
    overflow-x: hidden;
}

body:not(.is-mobile) {
    overflow-y: hidden;
}

#general-buttons {
    margin-top: 25px;
    button {
        background-color: var(--light-yellow) !important;
        font-size: 1.75rem !important;
        margin-bottom: 9px;
        width: 55%;
        border-radius: 5px;
        border: 2px solid var(--black);
        &:hover:not(:disabled) {
            background-color: var(--gold) !important;
            color: var(--white) !important;
        }
    }
}