#quote {
    font-size: 3.25rem;
    align-content: center;
}

.row-tall {
    height: 80vh;
}

.center-align {
    align-items: center;
    align-content: center;
    margin-top: 5vh;
    /* border: 35px ridge var(--gold); */
}

.btn {
    font-size: 1.75rem !important;
    margin-top: 5vh;
}